*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        body{
            overflow-x: hidden;
            background-color: #f4f7f6;
        }
        #title{
            cursor: pointer;
            transition: all .4s linear;
            text-align: center;
            background-color: antiquewhite;
            padding: 20px 0;
            color:coral;
            text-transform: capitalize;
            font-size: 35px;
            margin-bottom: 30px;
        }
        .block{
            width: 90%;
            margin: auto;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;
            border: solid 1px #e1e1e1;
            margin: 10px 0;
        }
        .block .container .block-container{
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 30px;
            border-radius: 5px;
            text-align: center;
            width: 300px;
            height: 250px;
            cursor: pointer;
            border-bottom: 12px solid #000;
        }
        .block-container i{
            font-size: 30px;
            transition: all 0.3s ease;
        }
        .block-container h2{
            padding: 20px 0;
            text-transform: uppercase;
        }
        .block-container:hover i{
            color: white !important ;
            transform: scale(1.2);
        }
        #footer{
            background-color: #020202;
            color: #f1f1f1;
            padding: 30px 20px;
            font-weight: 500;
        }
        #footer span{
            text-transform: uppercase;
            color: coral;
        }
        @media screen and (max-width:768px) {
            .block-container{
                width: 250px;
            }
            #footer{
                text-align: center;
                padding: 30px 0; 
            }
        }